<div class="housing-page__container">
  <div *ngIf="loaded; else elseBlock">
    <div class="housing-page-loading">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <ng-template #elseBlock>
    <app-side-nav></app-side-nav>
    <div class="housing-page__content">
      <header class="housing-page__header" (click)="openNav()">
        <img src="../../../assets/open-menu.svg" alt="" />
      </header>
      <div class="housing-page__body">
        <div class="housing-page__body--link--box">
          <div class="housing-page__body--link--box-content">
            <h1>
              {{ houseInfo.address }}
            </h1>
            <div class="housing-page__body--link--box-photos">
              <img src="../../../assets/1.webp" alt="" />
              <img src="../../../assets/2.webp" alt="" />
              <img src="../../../assets/3.webp" alt="" />
            </div>
            <div class="housing-page__body--link--box-users flex-align-center">
              <h2>Current tenants:</h2>
              <div
                class="user-box"
                *ngFor="
                  let user of houseEmployeeInfo.employeeList;
                  let i = index
                "
              >
                <div class="flex-align-center">
                  <h4>
                    Full name:
                  </h4>
                  {{ user.firstName }}&nbsp;{{ user.lastName }}
                </div>
                <div class="flex-align-center">
                  <h4>Cell Phone:</h4>
                  {{ user.cellphone }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
