<div class="register-page__container">
  <div *ngIf="loaded; else elseBlock">
    <div class="register-page-loading">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <ng-template #elseBlock>
    <form
      [formGroup]="registerForm"
      class="register-page__form flex-align-center"
    >
      <div class="register-page__form--left">
        <h1>Register</h1>
        <!-- Your name -->
        <p for="fullname"><b>Your name</b></p>
        <input
          type="text"
          name="fullname"
          id="fullname"
          formControlName="fullname"
          required
        />
        <!-- Username -->
        <p for="username"><b>Username </b></p>
        <input
          type="text"
          name="username"
          id="username"
          formControlName="username"
          required
        />
        <!-- Email -->
        <p for="email"><b>Email </b></p>
        <input
          type="text"
          name="email"
          id="email"
          formControlName="email"
          required
        />
        <!-- Password -->
        <p for="password"><b>Password </b></p>
        <input
          type="password"
          name="password"
          id="password"
          formControlName="password"
          required
        />
        <!-- Re-enter password -->
        <p for="repassword"><b>Re-enter password </b></p>
        <input
          type="password"
          name="repassword"
          id="repassword"
          formControlName="repassword"
          required
        />
        <button type="submit" (click)="onSubmit()">Sign up</button>
      </div>
      <div class="register-page__form--right">
        <img src="../../../assets/profile.svg" alt="" />
      </div>
    </form>
  </ng-template>
</div>
