<div class="home-page__container">
  <app-side-nav></app-side-nav>
  <div class="home-page__content">
    <header class="home-page__header" (click)="openNav()">
      <img src="../../../assets/open-menu.svg" alt="" />
    </header>
    <div class="home-page__body">
      <h1>Hello {{ userName }}, Welcome to BeaconFire Solution!</h1>
      <div class="flex">
        <div class="home-page__body--overview">
          <h2>Overview</h2>
          <div class="text-center">
            <img src="../../../assets/employee.svg" alt="" />
            <div>
              <h4>Full name:</h4>
              <h4>Email: {{ email }}</h4>
              <h4>Position:</h4>
              <h4>Check-in time: {{ loginTime }}</h4>
            </div>
          </div>
        </div>

        <div class="home-page__body--link">
          <div class="flex-align-center">
            <div class="home-page__body--link--box">
              <div class="home-page__body--link--box-content">
                <img src="../../../assets/document.svg" alt="" />
                <h3>View my documents</h3>
              </div>
            </div>
            <div class="home-page__body--link--box">
              <div class="home-page__body--link--box-content">
                <img src="../../../assets/calendar.svg" alt="" />
                <h3>View my schedule</h3>
              </div>
            </div>
          </div>
          <div class="flex-align-center">
            <div class="home-page__body--link--box">
              <div class="home-page__body--link--box-content">
                <img src="../../../assets/money.svg" alt="" />
                <h3>View my payments</h3>
              </div>
            </div>
            <div class="home-page__body--link--box">
              <div class="home-page__body--link--box-content">
                <img src="../../../assets/mail.svg" alt="" />
                <h3>Contact manager</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
