<div class="personal-info__container">
  <div *ngIf="loaded; else elseBlock">
    <div class="personal-info-page-loading">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <ng-template #elseBlock>
    <app-side-nav></app-side-nav>
    <div class="personal-info__content">
      <header class="personal-info__header" (click)="openNav()">
        <img src="../../../assets/open-menu.svg" alt="" />
      </header>
      <div class="personal-info__body">
        <div class="flex-align-start">
          <!-- <div class="personal-info__body--link"> -->
          <div class="personal-info__body--link--box">
            <div class="personal-info__body--link--box-content">
              <h3>Name</h3>

              <div
                class="personal-info__body--link--box-content--text flex-align-center"
              >
                <div>
                  <p class="key">First Name</p>
                  <p>
                    {{ personalInfo.firstName }}
                  </p>
                </div>
                <div>
                  <p class="key">Last Name</p>
                  <p>{{ personalInfo.lastName }}</p>
                </div>
              </div>

              <div
                class="personal-info__body--link--box-content--text flex-align-center"
              >
                <div>
                  <p class="key">Date of Birth</p>
                  <p>{{ personalInfo.dob }}</p>
                </div>
                <div>
                  <p class="key">Age</p>
                  <p>{{ age }}</p>
                </div>
              </div>

              <div
                class="personal-info__body--link--box-content--text flex-align-center"
              >
                <div>
                  <p class="key">Gender</p>
                  <p>{{ personalInfo.gender }}</p>
                </div>
                <div>
                  <p class="key">SSN</p>
                  <p>{{ personalInfo.ssn }}</p>
                </div>
              </div>
              <hr />
              <img src="../../../assets/edit.svg" alt="" />
            </div>
          </div>
          <!-- <div class="personal-info__body--link"> -->
          <div class="personal-info__body--link--box">
            <div class="personal-info__body--link--box-content">
              <!-- <img src="../../../assets/calendar.svg" alt="" /> -->
              <h3>Address</h3>

              <div
                class="personal-info__body--link--box-content--text flex-align-center"
              >
                <div>
                  <p class="key">Primary Address</p>
                  <p>{{ personalInfo.addressLine1 }}</p>
                  <p>
                    {{ personalInfo.addressLine2 }}
                  </p>
                  <p>
                    {{ personalInfo.city }}
                  </p>
                  <p>
                    {{ personalInfo.stateName }}
                  </p>
                  <p>
                    Zip
                  </p>
                </div>
                <div>
                  <p class="key">Secondary Address</p>
                  <p>{{ personalInfo.addressLine1 }}</p>
                  <p>
                    {{ personalInfo.addressLine2 }}
                  </p>
                  <p>
                    {{ personalInfo.city }}
                  </p>
                  <p>
                    {{ personalInfo.stateName }}
                  </p>
                  <p>
                    {{ personalInfo.zipCode }}
                  </p>
                </div>
              </div>
              <hr />
              <img src="../../../assets/edit.svg" alt="" />
            </div>
          </div>
          <!-- <div class="personal-info__body--link"> -->
          <div class="personal-info__body--link--box">
            <div class="personal-info__body--link--box-content">
              <!-- <img src="../../../assets/calendar.svg" alt="" /> -->
              <div class="personal-info__body--link--box-content--title">
                <h3>Contact Info</h3>
              </div>
              <div
                class="personal-info__body--link--box-content--text flex-align-center"
              >
                <div>
                  <p class="key">Personal Email</p>
                  <p>
                    {{
                      personalInfo.personalEmail
                        ? personalInfo.personalEmail
                        : "N / A"
                    }}
                  </p>
                </div>
                <div>
                  <p class="key">Work Email</p>
                  <p>
                    {{
                      personalInfo.workEmail ? personalInfo.workEmail : "N / A"
                    }}
                  </p>
                </div>
              </div>

              <div
                class="personal-info__body--link--box-content--text flex-align-center"
              >
                <div>
                  <p class="key">Ceilphone</p>
                  <p>{{ personalInfo.cellPhone }}</p>
                </div>
                <div>
                  <p class="key">Work phone</p>
                  <p>{{ personalInfo.alternatePhone }}</p>
                </div>
              </div>
              <hr />
              <img src="../../../assets/edit.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="flex-align-start">
          <div class="personal-info__body--link--box">
            <div class="personal-info__body--link--box-content">
              <!-- <img src="../../../assets/calendar.svg" alt="" /> -->
              <h3>Employment</h3>

              <div
                class="personal-info__body--link--box-content--text flex-align-center"
              >
                <div>
                  <p class="key">Work Authorization</p>
                  <p>{{ personalInfo.visaType }}</p>
                </div>
                <div>
                  <p class="key">Title</p>
                  <p>{{ personalInfo.title }}</p>
                </div>
              </div>

              <div
                class="personal-info__body--link--box-content--text flex-align-center"
              >
                <div>
                  <p class="key">Work Authorization End Date</p>
                  <p>N/A</p>
                </div>
                <div>
                  <p class="key">Employment Start Date</p>
                  <p>{{ personalInfo.employmentStartDate }}</p>
                </div>
              </div>

              <div
                class="personal-info__body--link--box-content--text flex-align-center"
              >
                <div>
                  <p class="key">Employment End Date</p>
                  <p>{{ personalInfo.employmentEndDate }}</p>
                </div>
                <div>
                  <p class="key">Work Authorization Start Date</p>
                  <p>{{ personalInfo.visaStartDate }}</p>
                </div>
              </div>
              <hr />
              <img src="../../../assets/edit.svg" alt="" />
            </div>
          </div>

          <div class="personal-info__body--link--box">
            <div class="personal-info__body--link--box-content">
              <!-- <img src="../../../assets/calendar.svg" alt="" /> -->
              <h3>Emergency Contact</h3>

              <div
                class="personal-info__body--link--box-content--text flex-align-center"
              >
                <div>
                  <p class="key">Full Name</p>
                  <p>{{ personalInfo.emergencyContactFullname }}</p>
                </div>
                <div>
                  <p class="key">Phone</p>
                  <p>{{ personalInfo.emergencyContactPhone }}</p>
                </div>
              </div>

              <div
                class="personal-info__body--link--box-content--text flex-align-center"
              >
                <div>
                  <p class="key">Address</p>
                  <p>{{ personalInfo.emergencyContactAddress }}</p>
                </div>
              </div>
              <hr />
              <img src="../../../assets/edit.svg" alt="" />
            </div>
          </div>

          <div class="personal-info__body--link--box">
            <div class="personal-info__body--link--box-content">
              <!-- <img src="../../../assets/calendar.svg" alt="" /> -->
              <h3>Document Section</h3>

              <div
                class="personal-info__body--link--box-content--text flex-align-center"
              >
                <div>
                  <p>Download Document</p>
                  <a href="#">Download</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
