@import "../../../styles.scss";
.facility-report-page__container {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: $color--theme;
  .facility-report-page__content {
    transition: margin-left 0.5s;
    padding-bottom: 30px;
    .facility-report-page__header {
      height: 60px;
      color: $color--white;
      background-color: $color--blue;
      position: relative;
      img {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
        color: $color--white;
        width: 30px;
        height: 30px;
      }
    }

    .facility-report-page__form {
      padding: 20px;
      margin: 30px;
      background-color: $color--white;
      border-radius: 8px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      .facility-report-page__form--area {
        h4 {
          margin-top: 5px;
          margin-bottom: 5px;
          color: $color--grey--light;
          font-size: $size__font--small;
        }
        input {
          width: 100%;
          margin-top: 5px;

          border: 1px solid #ced4da;
          border-radius: 0.25rem;
          height: 40px;
          padding: 0.375rem 0.75rem;
        }
        textarea {
          width: 100%;
          margin-top: 5px;
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
          height: 100px;
          padding: 0.375rem 0.75rem;
        }
      }
      .facility-report-page__buttons {
        button {
          width: 100%;
          background-color: $color--blue;
          color: white;
          border: none;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          font-size: $size__font--regular;
          margin-top: 10px;
          cursor: pointer;
        }
        button:nth-child(2) {
          margin-left: 10px;
        }
      }
    }
    .facility-report-page__reports {
      border-radius: 8px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background-color: $color--white;
      padding: 30px;
      margin: 30px 30px 0px 30px;
      flex-wrap: wrap;
      h4 {
        color: $color--grey--light;
      }
      .report-box {
        cursor: pointer;
        background-color: $color--white;
        margin-left: 20px;
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }
  }
}
