<div id="mySidenav" class="sidenav">
  <img src="../../../assets/employee.svg" alt="" />
  <a href="homepage">Home Page</a>
  <a href="personal-info">Personal Information</a>
  <div (mouseover)="onHover(visa)" (mouseout)="onHoverout(visa)">
    <p>Visa Status Management</p>
    <div class="sidenav--visa">
      <a href="#">OPT STEM Management</a>
    </div>
  </div>
  <div (mouseover)="onHover(house)" (mouseout)="onHoverout(house)">
    <p>Housing</p>
    <div class="sidenav--house">
      <a href="housing">House Detail</a>
      <a href="facility-report">Report facility issue</a>
    </div>
  </div>
  <a href="#">Log Out</a>
</div>
